*.com
*.class
*.dll
*.exe
*.o
*.so
*.apk
gen/*
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.classpath
*.log
*.sql
*.dex
resources.ap_

.DS_Store?
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

src/uk/ac/tvu/mdse/event/social/Keys.java

